doctype html
html(lang='en')
  head
    block variables
      - title = "Hello World!"
      - description = "Strawberry control. Take control of your Raspberry Pi"
      - author = "Charlie Bouthoorn"
    
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content=description)
    meta(name='author', content=author)
      
    title= title
    
    block styles
      link(href='css/bootstrap.min.css', rel='stylesheet')
      link(href='css/sb-admin.css', rel='stylesheet')
      link(href='font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    
  body
    #wrapper
      include /includes/navigation
      
      #page-wrapper
        .container-fluid
          block body
            
    
    block scripts
      // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
      //if lt IE 9
        script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
        script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
      
      script(src='js/jquery.js')
      script(src='js/bootstrap.min.js')
