extends /includes/layout

append variables
  - title = "Blank page"

append body
  .row
    .col-lg-12
      h1.page-header
        | Blank Page
        small Subheading
      ol.breadcrumb
        li
          i.fa.fa-dashboard
          a(href='index.html') Dashboard
        li.active
          i.fa.fa-file
          |  Blank Page
